# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# VSCode settings
.vscode/

# Logs
*.log
logs/

# Env files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Pytest cache
.pytest_cache/
